@model PhotoBooth.Models.Photo

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<h3>Вы уверены, что хотите это удалить?</h3>
<div>
    <div class="text-center">
        <a href="/EventImages/@Model.PhotoEventUuid/@Model.ImageName" target="_blank">
            <img class="thumbnail" src="~/App/img/loading.gif"
                 itemprop="thumbnail"
                 style="width: 150px; height: 150px;"
                 data-echo="/EventImages/@Model.PhotoEventUuid/@Model.PreviewImageName" alt="" />
        </a>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhotoEvent.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoEvent.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalPathToImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalPathToImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobPathToImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobPathToImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobPathToPreviewImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobPathToPreviewImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Md5Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Md5Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageHeight)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку фото для события", "EventPhotos", new { photoEventId = Model.PhotoEventId })
        </div>
    }
</div>


@section scripts
{
    <script src="~/Scripts/echo.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nailthumb.1.1.min.js"></script>
    <script>
        $(".navbar").addClass("scroll-fixed-navbar");
        $(window).scroll(function() {
            "use strict";
            $(".navbar").addClass("scroll-fixed-navbar");
        });

        echo.init({
            offset: 100,
            throttle: 250,
            unload: false,
            //callback: function (element, op) {
            //    jQuery(element).nailthumb({ width: 150, height: 150 });
            //}
        });
        // echo.render(); is also available for non-scroll callbacks
    </script>
}