@model PhotoBooth.Models.PhotoBoothEntity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhotoBoothEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathToDSLRSettings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathToDSLRSettings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPadDeviceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPadDeviceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAvailableDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAvailableDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Отменить и вернуться к списку", "Index")
</p>
